Source: dtkcommon
Section: libdevel
Priority: optional
Maintainer: Arun Kumar Pariyar <openarungeek@gmail.com>
XSBC-Original-Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-depends: debhelper-compat (=13),
               git,
               cmake,
               libglib2.0-bin,
               pkg-config,
               qtbase5-private-dev,
               qttools5-dev-tools
Standards-Version: 4.5.0
Homepage: http://www.deepin.org/

Package: libdtkcommon
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdtkcore5(<< 5.4.10), libdtkgui5(<< 5.4.10)
Replaces: libdtkcore5(<< 5.4.10), libdtkgui5(<< 5.4.10)
Description: dtk common files
 Used to store public configuration files

Package: libdtkcommon-dev
Architecture: any
Conflicts: libdtkcore-dev(<< 5.4.10)
Replaces: libdtkcore-dev(<< 5.4.10)
Depends: libdtkcommon( =${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: dtk common files
 Used to store public build files
